@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.article-vertical {
    position: relative;
}

.article-vertical::after {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    height: 30%;
    width: 7px; 
    background-color: hsl(180, 66%, 49%); 
}

img {
    max-width: 100%;
}

input {
    display: block;
}
.hide {
    display: none;
}
.show {
    display: block;
}


.hamburger {
    transition: transform 0.3s ease-in-out;
}
  
  .hamburger.rotate {
    transform: rotate(360deg);
}
  

@tailwind base;
@tailwind components;
@tailwind utilities;